/* CSS Reset */
body, header, nav, main, footer, sidebar, img, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Body */

body {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/Chumiwumi/chumiwumi.github.io/Images/Pattern - Background.png");
background-repeat: repeat;
color: white;
font-family: "Rubik", sans-serif;
}

/* Links */

li a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

ul li a:hover {
  color: #0096FF;
  background-color: transparent;
  text-decoration: underline;
}


#wrapper {
margin-right: auto;
margin-left: auto;
 width: 670px;
 overflow: hidden;
}
#header {
margin-right: 10px;
margin-left: 10px;

}

/* Nav Bar */

#navigation {
background-color: #341539;
overflow: hidden;
margin: auto;
}
#navigation ul li {
list-style: none;

}
#navigation ul li a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

#content {
margin: auto;
margin-top: 10px;
float: center;
background-color: #341539;
width: 72.7083333%; /* 698 รท 960 */
padding: 30px;
margin-bottom: 10px;
}

/* Sidebar */

#sidebar {
background: #341539;
border-style: line;
width: 200px;
position: fixed;
top: 150px;
left: 100px;
}
#sidebar .image {
      width: 190px;
      height: auto;
}
#sidebar ul li{
list-style: none;
margin: 0px;
}
#sidebar ul li a {
text-decoration: none;
background: none;
font-size: 25px;
color: white;
text-align: left;
}

#product .image{
width: 120px;
height: auto;
}
  
#product {
display: table-row-group;
}

/* Footer */

footer {
text-align: center;
padding: 10px;
}

footer p {
  color: white;
}
/* Mobile */

@media screen and (max-width: 799px) {
  #navigation{
    width: auto;
    font-size: 16px;
    }
  #sidebar { 
    display:none; 
  }
  #content {
    width: auto;
    }
  #img{
    width: 50%;
    }
}

/* Font */

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}
