/* CSS Reset */
wrapper, body, header, nav, main, footer, sidebar, img, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Body */

body {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/Pattern - Background.png");
background-repeat: repeat;
color: white;
font-family: "Rubik", sans-serif;
}

/* Links */

li a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

ul li a:hover {
  color: #0096FF;
  background-color: transparent;
  text-decoration: underline;
}

#wrapper {
position: absolute;
margin: 0;
width: 80%;
overflow: hidden;
display: inline-block;
}


#header {
overflow: hidden;
}

#header img {
  background-position: center;
  width: 100%;
  height: 100%;
  }

/* Nav Bar */

#nav {
background-color: #341539;
overflow: hidden;
}

#nav ul {
    list-style-type: none;
    text-align: center;
}

#nav li {
    display: inline;
    font-size: 2em;
}

#nav a {
    display: inline;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#content {
margin: auto;
margin-top: 10px;
background-color: #341539;
width: 72.7083333%; /* 698 รท 960 */
padding: 30px;
margin-bottom: 10px;
}

/* Sidebar */

#sidebar {
display: inline-block;
margin: 0;
top: 10px;
bottom: 5px;
background-image: url("Images/sidebar1.png");
width: 200px;
height: 350px;
position: relative;
left: 100px;
}

#sidebar .img {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

#sidebar ul li{
list-style: none;
margin: 0px;
}

#sidebar ul li a {
text-decoration: none;
background: none;
font-size: 20px;
color: white;
}

#product .image{
width: 120px;
height: auto;
}

/* product showcasing */
  
#product {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

#product a {
  font-size: 15px;
  }

/* Footer */

footer {
bottom: 0;
text-align: center;
padding: 10px;
}

footer p {
  color: white;
}
/* Mobile */

@media screen and (max-width: 799px) {
  #navigation{
    width: auto;
    font-size: 16px;
    }
  #sidebar { 
    display:none; 
  }
  #content {
    width: auto;
    }
  #img{
    width: 50%;
    }
}

/* Font */

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}
