/*
Author: Zuleyma Cruz Duarte
Date: 29/09/24
File Name: styles.css
*/

/* CSS Reset */

body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */

body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */


/* Style rules to show mobile class and hide tab-desk class */
#mobile {

    display: block;
}
#tab-desk {
    display: none;
    visibility: hidden;
}

/* Style rules for header area */

h1, h3{
    padding: 2%;
    text-align: center;
}

h1{
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Style rule for navigation area */

nav {
    background-color: #2a1f14;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: block;
    border-top: solid, 0.5px;
    color: #f6eee4;
    font-size: 1.5em;
}

nav li a {
    display: block;
    color: #f6eee4;
    text-align: center;
    padding-top, padding-bottom: 0.5em;
    padding-left, padding-right: 2em;
    text-decoration: none;
}


/* Style rules for main content */
    main {
        padding: 2%;
    }

    main p {
        font-size: 1.25em;
    }

    main h3 {
        padding-top: 2%;

    }

    main ul{
        list-style-type: square;
    }

    .link {
        color: #4d3319;
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
    }

    .action {
        font-size: 1.75em;
        font-weight: bold;
        text-align: center;
    }

    #round {

    border-radius: : 6px;

    }

    #info ul {

    margin-left: 10%;

    }

    #contact {
        text-align: center;
    }

    #tel-link {

    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top, margin-bottom: 0;
    margin-left, margin-right: auto;

    }

    #tel-link a{

        color:#f6eee4;
        text-decoration: none;
        font-weight: bold;

    }

    .map {
        border: 5px solid #373684;
    }




    /* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding-top, padding-bottom: 1%;
    padding-left, padding-right: 0%;
    clear: left;
    }

    footer a {
    color: #f3e6d8;
    text-decoration: none;
    }